@font-face {
    font-family: 'Jon-Viado';
    font-weight: 400;
    src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jon-Viado';
    list-style-type: none;
  }
  :root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  ul {
    margin-top: 50px;
  }

  body {
    height: 100dvh;
  }
  
  nav {
    margin-top: 20px;
    width: 51.25rem;
    align-self: auto;
    & > ul {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      font-size: medium;
    }
  }

  logo {
    position: absolute;
    display: flex;
    margin-left: 50%;
    margin-right: 50%;
    cursor: pointer;
  }

  li {
    display: flex;
    cursor: pointer;
  }

  div {
    align-items: center;
  }

  .hidden {
    display: none;
  }

  #lupa-container {
    
    align-items: center;
    transition: all 0.3s ease;
  }

  #lupa-input {
    padding: 10px;
    margin-right: 10px;
    margin-left: 20px;
  }

  #lupa-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
  }

  #lupa-icon {
    cursor: pointer;
    margin-left: -200px;
  }
  
  main {
    margin: 3.125rem auto;
    width: 61.25rem;
  }

/* Estilo para o contêiner da logo */
  .logo-container {
    /*margin-left: 60px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px; /* Altura do contêiner */
    background-color: #f2f2f2; /* Cor de fundo para visualização */
    border-radius: 100%; /* Bordas arredondadas para criar um círculo */
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites do círculo */
  }

/* Estilo para a imagem da logo */
  .logo-foto {
    width: 120px; /* Largura da imagem */
    height: 120px; /* Altura da imagem */
    object-fit: cover; /* Garante que a imagem preencha completamente o círculo */
    border-radius: 100%; /* Garante que a imagem seja exibida como um círculo */
  }

  .link {
    color: #0066cc;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

#produto {
  display: flex;
  justify-content: space-between;
  & div {
    margin-top: 200px;
  }
  & > #opcoes-produtos {
    flex-grow: 0;
    flex-basis: 33.33333%;
  }
  & > #visualizacao {
    flex-grow: 0;
    flex-basis: 66.66666%;
  }
}

#opcoes-produto {
  display: flex;
  flex-direction: column;
  & > h1 {
    width: 20rem;
    font-size: 2rem;
  }
}

.foto-produto {
  display : flex;
  height: 230px;
  width: 280px;
  border: 2px solid rgb(44, 44, 44);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }

}

#visualizacao {
  margin: 0 0 0 4rem;
}